Flask==0.12.1
Jinja2==2.9.5
MarkupSafe==1.0
PyAudio==0.2.8
RPi.GPIO==0.6.3
Werkzeug==0.12.1
bitstring==3.1.5
blinker==1.4
chardet==2.3.0
click==6.7
colorama==0.3.2
decorator==4.0.11
evento==1.0.1
html5lib==0.999
itsdangerous==0.24
lifxlan==1.0.0
omxplayer-wrapper==0.2.0
pad4pi==1.1.2
pygobject==3.14.0
requests==2.4.3
six==1.10.0
urllib3==1.9.1
wcwidth==0.1.7
wheel==0.38.1
